/**** Colors (recommended use HEX colors) ****/ 
$main-color: #124191; 
$default-color:#0e0f10; 
$dark-color: #000;

$body-bg-gradient-color-1: #a5c9e5;
$body-bg-gradient-color-2:  #a5c9e5;

$sidebar-bg-color:#f4f9fd;
$sidebar-item-active-bg-color: rgb(97, 122, 156);// #0099cc;


$primary-color: #124191;
$success-color: green;
$info-color: #124191;
$warning-color: #f79a17;
$danger-color: #bf1725;