<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>QUALIFIED OPPORTUNITIES</span>
                <div class="widget-controls">
                        <a href="#" class="transition" routerLink="/pages/qo-home"><i class="fa fa-reply"></i></a>
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">
                <form [formGroup]="qualifiedOpportunitiesForm">
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group"
                                [ngClass]="{'has-danger' :  submitted && qualifiedOpportunitiesForm.get('customerName').hasError('required'), 'has-success' : submitted && !qualifiedOpportunitiesForm.get('customerName').hasError('required') }">
                                <label for="customerName">Customer Name <span style="color:red">*</span> </label>
                                <input type="text" class="form-control" formControlName="customerName"
                                    id="customerName">
                                <span class="help-block text-danger"
                                    *ngIf="submitted && qualifiedOpportunitiesForm.get('customerName').hasError('required')">Customer
                                    Name is required</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" >
                                <label for="customerId">Customer Name&nbsp;&nbsp;<span style="color:red">*</span></label>
                                <select class="form-control" formControlName="customerId" id="customerId"
                                    (change)="defaultCustomerDetails($event.target.value)" name="customerId">
                                    <option *ngFor="let customer of customerInfo" value={{customer.customerid}}>
                                        {{customer.customername}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4" style="    margin-top: 21px;">
                            <button type="submit" class="btn btn-main btn-rounded" data-toggle="modal"
                                data-target="#primary-modal"><i class="fa fa-plus" style="
                                            margin-right: 10px;
                                        "></i>Create Customer</button>
                            <div class="modal fade" id="primary-modal" tabindex="-1" role="dialog"
                                aria-labelledby="modal-primary-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header state modal-primary">
                                            <h4 class="modal-title" id="modal-primary-label" style="color:white;"><i
                                                    class="fa fa-user"></i>Create Customer</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="customerForm">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" >
                                                            <label for="customerName">Customer Name</label>&nbsp;
                                                            <span style="color:red;">*</span>
                                                            <input type="text" class="form-control" name="customerName"
                                                                formControlName="customerName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label for="customerType">Customer Type</label>
                                                            <select class="form-control" name="customerType"
                                                                formControlName="customerType">
                                                                <option></option>
                                                                <option>SP</option>
                                                                <option>Enterprise</option>
                                                                <option>N/A</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                   <!--<div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="status">Status</label>
                                                            <select class="form-control" name="status"
                                                                formControlName="status">
                                                                <option>Active</option>
                                                                <option>Completed</option>
                                                                <option>On hold</option>
                                                                <option>Closed-out</option>
                                                            </select>

                                                        </div>
                                                    </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label for="region">Region</label>
                                                            <select class="form-control" name="region"
                                                                formControlName="region">
                                                                <option></option>
                                                                <option>NAM</option>
                                                                <option>LAT</option>
                                                                <option>APAC</option>
                                                                <option>EMACA</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="country">Country</label>
                                                            <select class="form-control selectpicker"
                                                                data-live-search="true"
                                                                (change)="onChangeCountryModel($event.target.value)"
                                                                name="country" formControlName="country">
                                                                <option *ngFor="let country of countryInfo"
                                                                    value="{{country.CountryName}}">
                                                                    {{country.CountryName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="state">State</label>
                                                            <select class="form-control" name="state"
                                                                formControlName="state">
                                                                <option *ngFor="let state of stateInfoArr"
                                                                    value="{{state.StateName}}">
                                                                    {{state.StateName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                              <!--  <div class="row">
                                                        <span class="text-danger" *ngIf="saveCustomerFlag && customerForm.get('customerName').hasError('required')">* Please fill Customer Name</span>
                                                </div>-->
                                            </form>
                                        </div>
                                      
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                            [disabled]="customerForm.get('customerName').hasError('required')" (click)="saveCustomer();initilizeCustomerDetails();"  data-dismiss="modal">Save</button>
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="customerType">Customer Type</label>
                                <select class="form-control" name="customerType" formControlName="customerType">
                                    <option>Enterprise</option>
                                    <option>SP</option>
                                    <option>N/A</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="interestedProduct">Interested Product</label>
                                <select class="form-control" name="interestedProduct"
                                    formControlName="interestedProduct">
                                    <option>Premium</option>
                                    <option>Advanced</option>
                                    <option>Basic</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="probability">Win Probability</label>
                                <select class="form-control" name="probability" formControlName="probability">
                                    <option>High</option>
                                    <option>Low</option>
                                    <option>Medium</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="region">Region</label>
                                <select class="form-control" name="region" formControlName="region">
                                    <option>NAM</option>
                                    <option>LAT</option>
                                    <option>APAC</option>
                                    <option>EMEA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <select class="form-control selectpicker" data-live-search="true"
                                    (change)="onChangeCountry($event.target.value)" name="country"
                                    formControlName="country">
                                
                                    <option *ngFor="let country of countryInfo; let i = index"
                                        value="{{country.CountryName}}">
                                        {{country.CountryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="state">State</label>{{stateInfo.states}}
                                <select class="form-control" name="state" formControlName="state">
                                    <option disabled selected value style="display:none;">--Select State--</option>
                                    <option *ngFor="let state of stateInfo; let j = index" value="{{state.StateName}}">
                                        {{state.StateName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-sm-4">
                            <h6>Quater</h6>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-success" name="q1"
                                        formControlName="q1" id="q1">
                                    <label class="custom-control-label" for="q1">Q1</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-success" name="q2"
                                        formControlName="q2" id="q2">
                                    <label class="custom-control-label" for="q2">Q2</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-success" name="q3"
                                        formControlName="q3" id="q3">
                                    <label class="custom-control-label" for="q3">Q3</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-success" name="q4"
                                        formControlName="q4" id="q4">
                                    <label class="custom-control-label" for="q4">Q4</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option>Active</option>
                                    <option>Completed</option>
                                    <option>On hold</option>
                                    <option>Closed-out</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="year">year</label>
                                        <select class="form-control" name="year" formControlName="year">
                                            <option>2012</option>
                                            <option>2013</option>
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019
                                            </option>
                                            <option>2020</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6>Quater</h6>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input checkbox-primary"
                                                name="q1" formControlName="q1" id="q1">
                                            <label class="custom-control-label" for="q1">Q1</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input checkbox-primary"
                                                name="q2" formControlName="q2" id="q2">
                                            <label class="custom-control-label" for="q2">Q2</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input checkbox-primary"
                                                name="q3" formControlName="q3" id="q3">
                                            <label class="custom-control-label" for="q3">Q3</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input checkbox-primary"
                                                name="q4" formControlName="q4" id="q4">
                                            <label class="custom-control-label" for="q4">Q4</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col bottom-15" style="margin-left: -13px;">
                                <h6>Define Opportunity Type?</h6>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="qualifiedOpportunity1" type="radio" name="qualifiedOpportunity"
                                        class="custom-control-input radio-primary"
                                        formControlName="qualifiedOpportunity" value="Yes" checked>
                                    <label class="custom-control-label" for="qualifiedOpportunity1">Qualified</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="qualifiedOpportunity2" name="qualifiedOpportunity"
                                        class="custom-control-input radio-primary"
                                        formControlName="qualifiedOpportunity" value="No">
                                    <label class="custom-control-label" for="qualifiedOpportunity2">Unqualified</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-sm-4">
                            <div class="col bottom-15" style="margin-left: -13px;">
                                <h6>Customer same as end customer &nbsp;
                                    <span class="badge badge-pill badge-secondary mr-1" style="background: #124191;"
                                        data-toggle="tooltip" data-animation="false" data-placement="top"
                                        title="The service provider is defined as the customer and enterprise is defined as the end customer, when a service providers extends services to enterprise">?</span>
                                </h6>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="endCustomerFlag" id="endCustomerFlag1"
                                        class="custom-control-input radio-primary" formControlName="endCustomerFlag"
                                        value="Yes" (change)="endCustomerChange()" checked>
                                    <label class="custom-control-label" for="endCustomerFlag1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" formControlName="endCustomerFlag" id="endCustomerFlag2"
                                        name="endCustomerFlag" class="custom-control-input radio-primary" value="No" (change)="endCustomerChange()">
                                    <label class="custom-control-label" for="endCustomerFlag2">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="customerName">End Customer Name</label>
                                <input type="text" class="form-control" name="endCustomerName"
                                    formControlName="endCustomerName"
                                    *ngIf="qualifiedOpportunitiesForm.value.endCustomerFlag==='No'">
                                <input type="text" class="form-control"
                                    *ngIf="qualifiedOpportunitiesForm.value.endCustomerFlag==='Yes'"
                                    name="endCustomerName" disabled>
                            </div>
                        </div>
                     <!--  <div class="col-sm-4">
                            <div class="form-group">
                                <label for="endCustomerInfrastructure">End Customer Infrastructure Size</label>
                                <input type="text" class="form-control" name="endCustomerInfrastructure"
                                    formControlName="endCustomerInfrastructure"
                                    *ngIf="qualifiedOpportunitiesForm.value.endCustomerFlag==='No'">
                                <small class="text-muted"
                                    *ngIf="qualifiedOpportunitiesForm.value.endCustomerFlag==='No'">multiple entries
                                    with comma(,) saperated</small>
                                <input type="text" class="form-control"
                                    *ngIf="qualifiedOpportunitiesForm.value.endCustomerFlag==='Yes'" disabled>
                            </div>
                        </div>-->
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="revenue">Revenue</label>
                                    <input type="text" class="form-control" name="revenue"
                                        formControlName="revenue">
                                </div>
                            </div>
                    </div>
                  <!--  <div class="row">
                            <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="salesEngineer">Sales Engineer</label>
                                        <input type="text" class="form-control" name="salesEngineer"
                                            formControlName="salesEngineer">
                                    </div>
                                </div>
                        </div>-->
                    <div formArrayName="items"
                        *ngFor="let item of qualifiedOpportunitiesForm.get('items').controls; let i = index;">
                        <br>
                        <div class="card card-outline-default">
                            <div class="card-body" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label [for]="name">Customer Contact Name&nbsp;&nbsp;<span style="color:red">*</span></label>
                                            <input type="text" class="form-control" [id]="name" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="    margin-top: 21px;">
                                            <a class="addBtn addBtn-color" style="z-index:0"
                                                (click)="addContacts()">+</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="addBtn removeBtn-color" style="z-index:0"
                                                (click)="removeContact(i)">x</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label [for]="jobTitle">Customer Job Title</label>
                                            <input type="text" class="form-control" [id]="jobTitle"
                                                formControlName="jobTitle">

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label [for]="contactEmail">Customer Contact Email</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <input class="form-control" type="text" [id]="contactEmail"
                                                    formControlName="contactEmail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label [for]="contactPhone">Customer Contact Phone</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                </div>
                                                <input class="form-control" type="number" [id]="contactPhone"
                                                    formControlName="contactPhone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
                <!--<div class="row justify-content-center">
                    <button type="submit" class="btn btn-main btn-rounded" (click)="saveQualifiedOpportunity()">Submit</button>
                    <button (click)="getQualifiedOpprtunity()">Show Data</button>
                </div>-->

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-main pull-left" routerLink="/pages/qo-home"><i
                                class="fa fa-chevron-left arrow"></i>&nbsp;Back</button>
                        <button class="btn btn-main pull-right"
                        (click)="saveQualifiedOpportunity()"><i class="fa fa-check arrow"></i>&nbsp;Submit </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>