.abc-checkbox label::before{
    width: 30px;
    height: 30px;
}

.addBtn{
   
    font-size: 24px!important;
    border-radius: 50%;
    transition: opacity 0s;
    user-select: none;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.addBtn-color:hover{

    color: #fff!important;
    background-color:#2e63bf!important;
}

.addBtn-color{
    color: #fff!important;
    background-color: #124191!important;
}


.removeBtn-color{
    color: #fff!important;
    background-color: #bf1725!important;
}


.card.card-outline-default {
    border: 1px solid #c1c7ce!important;
}

.btn-main {
    background: #124191;
}

.btn-main:hover{
    background: rgba(18, 65, 145, 0.8);
}


input[type=checkbox] {
    transform: scale(1.5);
}



