@import "../../theme/styles/variables";

.step{
    text-align: center;
    &:before, &:after{
        content: '';
        position: absolute;        
        background-color: $gray-light;
        top: 0;
        margin-top: 23px;        
        width: 50%;
        height: 5px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;        
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
    &:first-child:before {
        display: none; 
    }
    &.last:after{
        display: none; 
    }
    .step-icon{
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        background: #555;
        border: 1px solid $gray;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 auto;
        i{
            margin: 0 auto;
            font-size: 20px;
            color: $gray;
        }
    }
    &.active{
        &:before, &:after{
            background: $danger-color;
            border:none;
        }
        .step-icon{
            background: $danger-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    &.valid{
        &:before, &:after{
            background: $success-color;
            border:none;
        }
        .step-icon{
            background: $success-color;
            border:none;
            i{
                color: $default-color; 
            }
        }
    }
    .step-name{
        display: block;
        margin-top: 14px;
        color: $gray;
        &.active{
            color: $danger-color;
        }
        &.valid{
            color: $success-color;
        }
    }
}

.form-wizard{  
    margin-top:25px;
    margin-bottom: 20px;
    background: $body-bg-color;
    padding-top: 15px; 
    min-height: 400px;   
    .form-title{
        margin-bottom: 15px;
        color: $gray;
        border-bottom: 1px solid $gray-light;
        padding: 0 15px;
    }
    .form-control-label{
        color: $text-color !important;
    }
    .help-block{
        position: absolute;
        font-size: 11px;
    }
}

.arrow{
    font-size: 12px;
}


@media (max-width: 767px) { 
    .step{
        margin-bottom: 10px;
        text-align: left;
        .step-icon{
            float: left;
            margin-right: 15px;
        }
        &:before, &:after{
            content: none;
        }
    }  
}

.btn-main {
    background: #124191;
}

.btn-main:hover{
    background: rgba(18, 65, 145, 0.8);
}



   /* .row{
        background: #e9ebee!important;
        }*/
    


/*--------------------------------------------*/
/*-------- SIGNUP AND PLANS ----------*/
/*--------------------------------------------*/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #ffff;
    border-radius: 5px;
    width:90%;
    /*height:40%;*/
 margin-left: 5%;
     box-shadow:0 5px 5px #eae6e6;
}

.plan-box div{
   padding:15px;
    border-bottom : 1px solid #d1d1d1;
}

.plan-price{
   font-size:250%;
    font-weight:100;
    margin-bottom: 10px;
    color:#e67e22;
}

.plan-price span{
    font-size:30%;
    font-weight:300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
   list-style: none; 
}

.plan-box ul li{
  padding:5px 0; 
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.plan-box div:last-child{
    text-align: center;
    border:none;
}

ul{
    margin-left: -30px;
}

.fa-thumbs-up{
    font-size: 25px;
    color: #3bad3bcc;
    padding-right: 10px;
}

.fa-thumbs-down{
    font-size: 25px;
    color: #dc3545;
    padding-right: 10px;
}

/* --------HEADINGS ---------*/

    
    .pakagesHeader{
    font-size: 180%;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
    }
    
/*--------------------------------------------*/
/*-------- ANIMATIONS ----------*/
/*--------------------------------------------*/

.js--wp-1,.js--wp-2,.js--wp-3{
	opacity:0;/*then that element wont be visible*/
	animation-duration: 1s;
}

.js--wp-4{
	animation-duration: 1s;
}

.js--wp-3.animated{/*selector to add both classes at the same time*/
	opacity:1;
}