<div style="    margin: -37px;">
        <div class="col" style="background:white;"><!--style="background:white;margin-left: 55px;
         margin-top: -29px;
         margin-right: -27px;"-->
                <img src="../../../assets/TrialStudioimage.jpg" alt="POC Tool"  class="image"><!--style="
                  margin-left: -94px
                  "-->
             <!--  <p class="scrolldown">
                        <a class="smoothscroll" href="#about1"><i class="fa fa-angle-up"></i></a>
                     </p>    -->       
        </div>
<br>
<div class="fill"></div>
     
        <section id="abou">

                        <div class="row">
                  
                           <div class="nine columns main-col" style="padding: 37px;">
                  
                              <h2 style="color:#19548e">About</h2>
                  
                              <p style="font-size: 21px;    font-weight: 200;
                              ">Nokia is a Finnish multinational corporation founded on the 12 May 1865 as a single paper mill operation. Through the 19th century the company expanded, branching into several different products. In 1967, the Nokia corporation was formed. In the late 20th century, the company took advantage of the increasing popularity of computer and mobile phones. However, increased competition and other market forces caused changes in Nokia's business arrangements. In 2014, Nokia's mobile phone business was sold to Microsoft.</p>
                  
                           </div> <!-- end .main-col -->
                  
                        </div>
                  
                     </section> <!-- About Section End-->
                  

</div>