/*.row{
    background: white!important;
    }
    */
    .scrolldown a {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -29px;
        color: #6c757d;
        display: block;
        height: 42px;
        width: 42px;
        font-size: 42px;
        line-height: 42px;
        border-radius: 100%;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    


    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('/assets/TrialStudioimage.jpg');
    }

    @media (min-width: 2000px) {
        .image{
            zoom:1.25
        }
    }

    @media screen and (min-width: 1400px) { }

    @media screen and (min-width: 1600px) {
        .image{
            zoom:1.25
        }
        .largeFont{
            font-size: 42px;
        }
    }


@media screen and (min-width: 1900px) {}