<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>PRODUCT DEMONSTRATIONS</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerName">Project</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="endCustomer">Customer Name</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customerName">SCRM Number</label>
                                <input type="text" class="form-control" id="inputFirstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="endCustomer">Total Expected PO Value</label>
                                <input type="text" class="form-control" id="inputLastName">
                            </div>
                        </div>
                    </div>

                <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customerName">Number of Sites</label>
                                <input type="text" class="form-control" id="inputFirstName">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                    <label for="endCustomer">Type of CPE required</label>
                                    <select class="form-control" name="orderBy" ngModel required #orderBy="ngModel">
                                        <option>With LTE/Wifi/VNF</option>
                                        <option >Without LTE/Wifi/VNF</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="customerName">Number of CPE for each type</label>
                                        <input type="text" class="form-control" id="inputFirstName">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="endCustomer">Expected Price for CPE Type</label>
                                        <input type="text" class="form-control" id="inputLastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="customerName">Projected Yearly CPE Growth</label>
                                            <input type="text" class="form-control" id="inputFirstName">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="endCustomer">Expected POC Date</label>
                                            <input type="text" class="form-control" id="inputLastName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="customerName">Expected Deployment Date</label>
                                                <input type="text" class="form-control" id="inputFirstName">
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="    margin-left: -12px">
                                                <div class="col bottom-15">
                                                    <h6>Existing VAN Service for this customer?</h6>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input id="vnsservice1" type="radio" name="vnsservice" class="custom-control-input radio-primary" checked>
                                                        <label class="custom-control-label" for="vnsservice1">Yes</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input id="vnsservice2" type="radio" name="vnsservice" class="custom-control-input radio-primary">
                                                        <label class="custom-control-label" for="vnsservice2">No</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input id="vnsservice3" type="radio" name="vnsservice" class="custom-control-input radio-primary">
                                                        <label class="custom-control-label" for="vnsservice3">Maybe</label>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="row">
                                                <div class="col-sm-6" style="    margin-left: -12px">
                                                    <div class="col bottom-15">
                                                        <h6>Intergration to existing CE?</h6>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input id="existingca1" type="radio" name="existingca" class="custom-control-input radio-primary" checked>
                                                            <label class="custom-control-label" for="existingca1">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input id="existingca2" type="radio" name="existingca" class="custom-control-input radio-primary">
                                                            <label class="custom-control-label" for="existingca2">No</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input id="existingca3" type="radio" name="existingca" class="custom-control-input radio-primary">
                                                            <label class="custom-control-label" for="existingca3">Maybe</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                        <div class="col bottom-15">
                                                            <h6>Does the customer have DC?</h6>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="dccustomer1" type="radio" name="dccustomer" class="custom-control-input radio-primary" checked>
                                                                <label class="custom-control-label" for="dccustomer1">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="dccustomer2" type="radio" name="dccustomer" class="custom-control-input radio-primary">
                                                                <label class="custom-control-label" for="dccustomer2">No</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="dccustomer3" type="radio" name="dccustomer" class="custom-control-input radio-primary">
                                                                <label class="custom-control-label" for="dccustomer3">Maybe</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-sm-6" style="    margin-left: -12px">
                                                        <div class="col bottom-15">
                                                            <h6>Existing underlaylink provider?</h6>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="underlaylink1" type="radio" name="underlaylink" class="custom-control-input radio-primary" checked>
                                                                <label class="custom-control-label" for="underlaylink1">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="underlaylink2" type="radio" name="underlaylink" class="custom-control-input radio-primary">
                                                                <label class="custom-control-label" for="underlaylink2">No</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input id="underlaylink3" type="radio" name="underlaylink" class="custom-control-input radio-primary">
                                                                <label class="custom-control-label" for="underlaylink3">Maybe</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                            <div class="col bottom-15">
                                                                <h6>Interested in Product?</h6>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input id="radio1" type="radio" name="radioInline" class="custom-control-input radio-primary" checked>
                                                                    <label class="custom-control-label" for="radio1">Yes</label>
                                                                </div>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input id="radio2" type="radio" name="radioInline" class="custom-control-input radio-primary">
                                                                    <label class="custom-control-label" for="radio2">No</label>
                                                                </div>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input id="radio3" type="radio" name="radioInline" class="custom-control-input radio-primary">
                                                                    <label class="custom-control-label" for="radio3">Maybe</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                        
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerType">Demoed Product</label>
                            <select class="form-control" id="probability">
                                <option>VNS</option>
                                <option>VCS</option>
                                <option>Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="demoDate">Demo Date</label>
                            <input type="date" class="form-control" id="demoDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="customerContactName">Demo WebEx URL</label>
                            <input type="text" class="form-control" id="customerContactName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerName">Sales Engineer Resource</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="endCustomer">IPCC Resource</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerName">Account Manager</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="endCustomer">Competitors</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>
                </div>
              <!--  <div class="row">
                    <div class="col-sm-6" style="    margin-left: -12px">
                        <div class="col bottom-15">
                            <h6>Interested in Product?</h6>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="radio1" type="radio" name="radioInline" class="custom-control-input" checked>
                                <label class="custom-control-label" for="radio1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="radio2" type="radio" name="radioInline" class="custom-control-input">
                                <label class="custom-control-label" for="radio2">No</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="radio3" type="radio" name="radioInline" class="custom-control-input">
                                <label class="custom-control-label" for="radio3">Maybe</label>
                            </div>
                        </div>
                    </div>
                   <div class="col-sm-6" style="    margin-left: -12px">
                        <div class="form-check">
                            <h6>Attachments</h6>
                           <az-file-uploader></az-file-uploader>
                         <div class="form-group">
                                <div class="input-group file-upload">
                                    <input type="file" (change)="fileChange(input)" #input class="file-upload-btn"/>
                                    <input type="text" class="form-control" placeholder="Choose a file..." value="{{file}}">
                                    <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Summary of Customer Feedback" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-main">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>